h1 {
    display: none;
}
.container{
    margin-top: .3rem;
    box-shadow: 0 0 10PX 2PX rgb(80, 82, 82)
}
.slider {
    position: relative;
    overflow: hidden;
    
}

.slider figure{
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 20s slider infinite;

}
.slider figure img{
    width: 20%;
    float: left;
}
@keyframes slider{
    0% {margin-left: 0;}
    20% {margin-left: 0;}

    25% {margin-left: -100%;}
    45% {margin-left: -100%;}

    50% {margin-left: -200%;}
    70% {margin-left: -200%;}

    75% {margin-left: -300%;}
    95% {margin-left: -300%;}

    100% {margin-left: -400%;}
}


#call {
    position: absolute;
    bottom: 5%;;
    right: 3%;
    font-weight: 600;
    background-color: #d9b310;
    color: #000000;
    font-size: 20px;
    text-decoration: none;
    border: solid;
    border-radius: 20px;
    border-color: #d9b310;
    padding: 1px 20px;
}

#welcome-message{
    text-align: center;
    margin-top: 1rem;
    animation: slide 15s infinite linear;
    
}
@keyframes slide {
    0% { transform: translateX(0);}
    25% { transform: translateX(25%);}
    50% { transform: translateX(0);}
    75% { transform: translateX(-25%);}
    100% { transform: translateX(0);}
}


@media only screen and (min-width: 38rem){
    #call {
        font-size: 30px;
    }
}

.player-container {
    margin: 2rem 1rem;
    text-align: center;
}
.player{
    margin: 1rem auto;
    display: flex;
    justify-content: center;
    
}
#video1 {
    box-shadow: 0 0 10PX 2PX rgb(80, 82, 82);
    aspect-ratio: 16/9;
    max-width: 850px;


}


