.rankingtext {
    color: #2a2727;
    font-weight: 600;
}
.ranking-container {
    display: flex;
    flex-wrap: wrap;
    
}
.ranking-container div {
    min-width: 380px;
    margin: 1rem auto;

}
.ranking-container div div p {
    margin: .5rem;
    color: #2a2727;
 }
 .ranking-container div h2{
    text-align: center;
    margin-bottom: 1rem;

}

