h1{
    margin-bottom: 1rem;
}
.rankingtext {
    color: #2a2727;
    font-weight: 600;
}
.ranking-container {
    display: flex;
    flex-wrap: wrap;
    
}
.ranking-container div{
    min-width: 350px;
    margin: 1rem auto;
}
.ranking-container div div p {
    margin: .5rem;
    color: #2a2727;
 }
 .ranking-container div h2{
    text-align: center;
    margin-bottom: 1rem;

}
.card {
    border: solid;
    border-radius: 6px;
    border-color: #2a2727;
    padding: .2rem;
    background-color: rgb(226, 231, 236);
    border-color: rgb(210, 211, 211);
    box-shadow: 0 0 10PX 2PX rgb(80, 82, 82)
}
@media only screen and (min-width: 38rem){
    .card {
        min-width: 380px;
        padding: 3rem;
    }
}


