:root{
    --background-color:#0b3c5d;
    --first-font-color: #ffffff;
    --secundary-font-color:#d9b310;
    --third-font-color: #ffff;
    --selection-color: #1d2731;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-width: 320px;
    font-family: "Poppins", sans-serif;
    margin: 0 auto;
    min-height: 100dvh;
    display: grid;
    grid-template-rows: auto auto 1fr auto;
}
main{
    margin: 0 auto;
    max-width: 1200px;
}

header{
    padding: 10px 10px;
    color: var(--first-font-color);
    display: grid;
    grid-template-columns: 50px auto 44px;
    align-items: end;
    background-color: var(--background-color);
    border-bottom: solid;
    border-color: var(--selection-color);
    border-width: 2px;
    background-color: var(--background-color);
}

/* hamburguer button star*/
nav{
    background-color: var(--background-color)
}
#menuButton::before{
    content: "\2630";
}
#menuButton{
    font-size: 2rem;
    background: none;
    border: none;
    color: var(--first-font-color);
    cursor: pointer;
    width: 100%;
    text-align: right;
    padding: .25rem 2vw;
}
/* li{
    list-style: none;
} */
ul.menuLinks li a{
    display: block;
    padding: .75rem 2vw;
    color: var(--first-font-color);
    text-decoration: none;
}
ul.menuLinks li.current-menu-item a{
    background-color: rgba(0, 0, 0, 0.2);
}
ul.menuLinks {
    list-style-type: none;
}
#menuButton.open::before {
    content: "\2716";
}
ul.menuLinks a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

nav {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.5s ease-out;
}
nav ul {
    overflow: hidden;
}
nav.open{
    grid-template-rows: 1fr;
}
/* hamburguer button end*/

footer{
    border-top: solid;
    border-color: var(--selection-color);
    border-width: 2px;
    background-color: var(--background-color);
    font-size: 16px;
    text-align: center;
    color: var(--first-font-color);
    padding: 10px;
}
.fotter1, .footer2, .fotter3{
    margin: 20px;
}
#logo{
    width: 40px;
}
#name h1, h2{
    font-size: 15px;
}

/* hamburguer button end*/

.list section img {
	display: none; 
}
.list {
	display: flex;
	flex-direction: column;
    width: 100%;
}
.list section:nth-child(even) {
	background-color: rgb(169, 211, 236);
}
.list section {
    width: 100%;
    height: auto;
	display: grid;
	grid-template-columns: 1fr 1.5fr 1fr 1fr;
	margin: 0;
    
	padding: 0.25rem;
    border-radius: 0;
    box-shadow: none;


}
.list section h2{
    font-size: 15px;
}
.list p{
    font-size: 15px;
}

.button-container{
    text-align: center;
}
#grid, #list{
    font-size: 20px;
    margin: 20px;
    padding: 2px 20px;
    text-align: center;

}
.card{
    width: 450px;
    height: 210px;
    margin: 30px;
    padding: 20px;
    border-radius: 6px;
    border-color: rgb(210, 211, 211);
    box-shadow: 0 0 10PX 2PX rgb(80, 82, 82);
}
#cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center; 
}
.card p{
    margin: 0%;
}
.card h2{
    margin: 1px;
}


