@media only screen and (min-width: 850px) {
    /* hamburguer button stars*/
    #menuButton{
        display: none;
    }
    ul.menuLinks, ul.menuLinks.open{
        display: flex;
        justify-content: flex-end;
    }
    ul.menuLinks a:hover {
        background-color: rgba(255, 255, 255, 0.2);
    }
    nav {
        padding-right: 2%;
        grid-template-rows: 1fr;
        margin-top: -45px;
        background-color: transparent;
    }
    #logo{
            width: 80px;
    }
    /* hamburguer button end*/
    footer{
        align-content: center;
        display: flex; 
    }
    footer div{
        min-width: 200px;
        max-width: 350px;
        margin: auto;

    }
    header{
        padding-left: 2%;
        display: grid;
        grid-template-columns: 90px auto 44px;

    }
    #name {
        margin-top: -10px;
    }
    #name h1 {
        font-size: 25px;
    }
    #call {
        font-size: 30px;
    }
}
/* 1024px = 64rem */
@media only screen and (min-width: 1024px) {
    .discover-card{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
   
}



