/* 608px = 38rem */
@media only screen and (min-width: 608px) {
    .discover-card{
        grid-template-areas: 
        "img name"
        "img description"
        "img address"
        "img button";
    }
    .card-image:hover{
        border-radius: 50%;
        box-shadow: 0 0 50px #333;
    }
}