@media only screen and (min-width: 600px) {
    body{
        display: grid;
        grid-template-rows: auto 1fr auto;
    }
    main{
        /* fix */
        align-items:normal;
        grid-column: 1/4;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .left-side{
        width: auto;
        grid-column: 1/3;
    }
    .right-side{
        width: auto;
        grid-column: 3/4;
    }
    .buttons{
        
        flex-direction:row;
    }
    .navigation{
        background-color: #242424;
    }
    .nav-list{
        display: flex;
        margin: auto;
        
    }
    .navigation li {
		display: block;
        margin: auto;
	}
    .navigation a {
		text-align: right;
        font-size: 22px;
        flex: 1 1 100%;
	}
    #menu {
		display: none;
	}
    .name-title{
        display: flex;
        align-items: center;
        margin-left: 30%;
            
    }

    
    



}